<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a97ec517a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img class="logo" 
        src="/images/logo-mercado-liebre.svg" alt="Logo" width="500em">
        <div class="field div-logo" id="searchform">
            <input type="text" id="searchterm" placeholder="Buscar productos, marcas"><br>
            <i class="fas fa-search magnifying-glass"></i>            
            <!-- <button type="button" id="search">Encontralo!</button> -->
            <p class="paragraph"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        
        
        <div class="div-header">    
            <it>Ofertas</it><br>
            <it>Tiendas Oficiales</it><br>
            <it>Vender</it><br>
            <it>Ayuda</it><br>
            <br>
            <it>Crea tu cuenta<i class="far fa-address-card"></i></it><br>
            <it>Ingresa<i class="fas fa-sign-in-alt"></i></it><br>
            <it>Mis compras<i class="fas fa-cart-plus"></i></it><br>
        </div>
        
        <p class="div-bars"><i class="fas fa-bars icons-bars"></i></p>

    </header>
    <h3 class='titles'>Sección basado en su ultima visita</h3>
    <main>
            
            <div class="article">    
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" height= "80%" width="100%">
                <div class='article-container'>
                    <i class="fas fa-truck discounts circle"></i>
                    <item class="prices">$6.770</item>
                    <item class="discounts"> 40 % OFF </item><br>
                    <br><item class="description">Moulinex</item>
                </div>
            </div>
             
            <div class='article'>    
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" height= "80%" width="100%">
                <div class="article-container">
                    <i class="fas fa-truck discounts circle"></i> 
                    <item class="prices">$230.000</item>
                    <item class="discounts">20 % OFF</item><br> 
                    <br><item class="description">MacBook Pro 2019</item>
                </div>    
            </div>
 
            <div class="article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" height= "80%" width="100%">
                <div class="article-container">
                    <i class="fas fa-truck discounts circle"></i>
                    <item class="prices">$70.500</item>          
                    <item class="discounts">10% off </item><br>
                    <br><item class="description">Samsung Galaxy S10</item>
                </div>    
            </div>
 
            <div class='article'>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" height= "80%" width="100%">
                <div class="article-container">
                    <i class="fas fa-truck discounts circle"></i>
                    <item class="prices">$23.200</item>                    
                    <item class="discounts">5% off </item><br>
                    <item class="description">SmartTv Samsung 43"</item>
                </div>
            </div>
            
    </main>
    <br>
    <div><h3 class='titles'>Sección de Ofertas</h3></div>  
    <br>
    <main>  
            
            <div>
                <div class='article'>    
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" height= "80%" width="100%">
                </div>
                <div class="article-container">
                    <i class="fas fa-truck discounts circle"></i>
                    <item class="prices">$6.770</item> 
                    <item class="discounts">40 % OFF </item><br>
                    <br><item class="description">Moulinex</item>
                </div>
            </div>
            
            <div class='article'>     
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" height= "80%" width="100%">
                <div class="article-container">
                    <i class="fas fa-truck discounts circle"></i>
                    <item class="prices">$230.000</item>
                    <item class="discounts">20 % OFF</item>
                    <item class="description">MacBook Pro 2019</item>
                </div>
            </div>
            
            <div class='article'>     
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" height= "80%" width="100%">
                <div class="article-container">
                    <i class="fas fa-truck discounts circle"></i>
                    <item class="prices">$70.500</item>          
                     <item class="discounts">10% off </item><br>
                    <br><item class="description">Samsung Galaxy S10</item>
                </div>
            </div>
            
            <div class='article'>     
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" height= "80%" width="100%">
                <div class="article-container">
                    <i class="fas fa-truck discounts circle"></i>
                    <item class="prices">$23.200</item>                    
                     <item class="discounts">5% off </item><br>
                    <br> <item class="description">SmartTv Samsung 43"</item>
                </div>
            </div>
    </main>
    <footer>      
            <i class="far fa-credit-card icons"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</div>
            <br>
            <i class="fas fa-gift icons"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</div>
            <br>
            <i class="fas fa-user-shield icons icons"></i>
            <h3>Seguridad, de principio a fin</h3>
            <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</div>
            <br>
            <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
            <br>
    </footer>
</body>
</html>