/* ● Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

2

● Tipografías
Familia: 'Roboto'

● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


body{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #EAC926;
    
}
main{
    box-sizing: border-box;
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.article-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid #ebebeb;
}
.article{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: white;
    padding: 1em;
    width: 30em;
    
}
header{
    width: 90%;
}

.titles{
    font-size: 24px;
    text-align: center;
}
.prices{
    display: flex;
    flex-grow: 0.3;
    font-size: 18px;
    
}
.discounts {
    display: flex;
    flex-grow: 0.7;
    font-size: 16px;
    color: #39b54a ;
}
.description {
    font-size: 16px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: white;
    
}
.icons{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}
.icons-bars{
    background-color: blue;
    font-size: 2em;
    color: white;
    padding: .5em;
    border-radius: 10%;
}
nav{
    padding: .5em;
}
.logo{
    padding:2em
}
.div-header{
    border-top: 1em;
}
.div-bars{
    text-align: center;
}
input{
    width: 15em;
}
.div-logo{
    padding: 2em;
}
.magnifying-glass{
    background-color: #fff;
    border: 1px #666 solid  ;
    padding: .3em;
    margin: .1em 0em;
}
.circle{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 65px;
}



/* Tablets */
@media(min-width:361px){
    .article{box-shadow: 0px 0px 10px rgb(100, 100, 100);}
    
}
@media(max-width:361px){
    .description{display: none;}
    .div-header{display: none;}
}

/* Desktop */
@media(min-width:769px){
    .article{box-shadow: 0px 0px 10px rgb(100, 100, 100);}
        
}
@media(max-width:769px){
    .icons-bars{display: none;}
}
